<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Leaderboard</title>
    <!-- End of head content specific to page -->
</div></head>

<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <style>
            h3 {
                font-family: 'Playfair Display';
                font-size: 3vw;
            }
            p {
                font-family: 'Darker Grotesque';
                font-size: 2vw;
            }
        </style>

        <div>
            <h3 style="color: white"><strong>Recycling Leaderboard</strong></h3>
        </div>

        <div class="contact">
                <div class="row justify-content-left" style="margin: 2%;">
                    <form action="/addleader" method="GET" id="leaderForm">
                        <div>
                            <label for="nameField">Your name: </label>
                            <input name="name" id="nameField">
                            <div></div>
                            <label for="countField">How many bottles? </label>
                            <input name="count" id="countField">
                            <button>Add to board</button>
                        </div>
                    </form>
                </div>
        </div>

        <div class="container.fluid" style="font-size: 2vw">
            <div class="row" style="color: white">
                <div class="col-3">Place</div>
                <div class="col-6">Name</div>
                <div class="col-3">Amount Recycled</div>
            </div>
            <div class="row" style="color: white">
                <div class="col-3">1</div>
                <div class="col-6">Person A</div>
                <div class="col-3">100 bottles</div>
            </div>
            <div class="row" style="color: white">
                <div class="col-3">2</div>
                <div class="col-6">Person B</div>
                <div class="col-3">70 bottles</div>
            </div>
            <div class="row" style="color: white">
                <div class="col-3">3</div>
                <div class="col-6">Person C</div>
                <div class="col-3">50 bottles</div>
            </div>
            <div class="row" style="color: white">
                <div class="col-3">4</div>
                <div class="col-6" th:text="${nameout}"></div>
                <div class="col-3"th:text="${countout}"></div>
            </div>

        </div>

    </div>
    <!-- End of body content specific to page -->
</div>
</body>

</html>