<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
</div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>Recycling Project</strong></h1>
        <h3><strong>Meet our members</strong></h3>
        <ol>
            <li>Kaavya Uppala as scrum master and technical lead  </li>
            <li>Jacqueline Cheng as Navigator</li>
            <li>Dhruv Batnagar as designer</li>
            <li>Christopher Duroiu as website developer.</li>
        </ol>
        <h3><strong>What is our project about?</strong></h3>

        <p>We created a recycling project to motivate students to recycle and raise money for the school as well.
                Our purpose is to motivate students in our community and others to support our school and improve the
                environment.</p>



    </div>

</div>
</body>