<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript"
            src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <style>
              h3 {
                  font-family: 'Belleza';
                  font-size: 3vw;
              }
              p {
                  font-family: 'Darker Grotesque';
                  font-size: 2vw;
              }
        </style>
        <ol>
            <h3 style="color: white"><strong>Recycling Leaderboard</strong></h3>
            <p style="color: white">Check out our current leading recyclers</p>
            <p style="color: white">And keep on recycling to get your place on the leaderboard!</p>
        </ol>
    </div>
    <!-- End of body content specific to page -->
    <div class="table-responsive">
        <table id="leaderboardTable" class="display-table" width="90%">
            <style>
                .display-table {
                    font-family: 'Antic';
                    font-size: 2vw;
                    color: black;
                    background-color: #E0D6A7;
                }
            </style>
            <thead>
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Amount Recycled</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Person A</td>
                <td>100 bottles</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Person B</td>
                <td>50 bottles</td>
            </tr>
            <tr>
                <td th:text="${rankout}"></td>
                <td th:text="${nameout}"></td>
                <td th:text="${countout}"></td>
            </tr>
        </table>
        <script>
            $(document).ready(function(){
                $('#leaderboardTable').dataTable();
            });
        </script>
    </div>
    <div>
        <form action="/leaderboard" method="GET" id="leaderForm">
            <div>
                <label for="nameField">Your name: </label>
                <input name="name" id="nameField">
                <div></div>
                <label for="countField">How many bottles? </label>
                <input name="count" id="countField">
                <button>Add to board</button>
            </div>
        </form>
    </div>
</div></body>

</html>