<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lucas Numbers</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="/sequence" method="GET" id="greetForm">
                <div>
                    <label for="greetField">Hello please enter the number of numbers you want in your sequence</label>
                    <input name="name" id="greetField">
                    <button>Greetings!</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End of body content specific to page -->

</body>
</html>